{% extends "base.html" %}
{% block content %}
  <div class="container-fluid" style="background-color: #e8f9fd;">
    <div class="container p-0 border-start border-end border-dark border-3">
    <div class="bg-image"
     style="background-image: url('/static/images/index-bg.jpg'); height: 100vh;"
  >
      <div class="row"></div>
     <div class="row mt-5 d-flex justify-content-center g-3">
       <div class="col-3">

         <div class="card">
          <div class="card-body pl-1 pr-1 pt-0 pb-0">
            <div class="row">
              <div class="col-12 p-0 m-0">
                <div class="fw-bold text-center fs-5">
                 <a href="#" class="btn btn-outline-dark w-100 btn-lg m-0 font-weight-bold">
                      Recent publications ({{ num_last_month }})</a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
       <div class="col-3">
         <div class="card">
            <div class="card-body pl-1 pr-1 pt-0 pb-0">
              <div class="row">
                <div class="col-12 p-0 m-0">
                  <div class="fw-bold text-center fs-5">
                    <a href="#" class="btn btn-outline-dark w-100 btn-lg m-0 font-weight-bold">
                      Staff ({{ num_staff }} in total)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-3">
         <div class="card">
            <div class="card-body pl-1 pr-1 pt-0 pb-0">
              <div class="row">
                <div class="col-12 p-0 m-0">
                  <div class="fw-bold text-center fs-5">
                    <a href="#" class="btn btn-outline-dark w-100 btn-lg m-0 font-weight-bold">
                      All newspapers ({{ total_newspapers }})</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-3">
         <div class="card">
          <div class="card-body pl-1 pr-1 pt-0 pb-0">
            <div class="row">
              <div class="col-12 p-0 m-0">
                <div class="fw-bold text-center fs-5">
                  <a href="#" class="btn btn-outline-dark w-100 btn-lg m-0 font-weight-bold">
                    All Topics ({{ num_topics }})
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
    </div>
 </div>
  </div>
{% endblock %}