.logo {
    width: 50px;
    height: 50px;
}

.content {
    padding-top: 50px;
}

.box {
    width: 400px;
    height: 100px;
}

.login-card {
    margin-top: 20vh;
}

no-scroll {
    overflow: hidden;
}

