{% extends "base.html" %}
{% block content %}

    <div class="container p-0">
    <div class="row"></div>
     <div class="row mt-5 d-flex justify-content-center g-3">
       <div class="col-4 gy-5">
         <div class="card">
            <div class="card-body pl-1 pr-1 pt-0 pb-0 bg-light">
              <div class="row">
                <div class="col-12 p-0 m-0">
                  <div class="fw-bold text-center fs-5">
                    <a href="{% url 'agency:redactor-list' %}"
                       class="btn btn-outline-dark w-100 btn-lg m-0">
                      Staff ({{ num_staff }} in total)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-4 gy-5">
         <div class="card">
            <div class="card-body pl-1 pr-1 pt-0 pb-0 bg-light">
              <div class="row">
                <div class="col-12 p-0 m-0">
                  <div class="fw-bold text-center fs-5">
                    <a href="{% url 'agency:newspaper-list' %}"
                       class="btn btn-outline-dark w-100 btn-lg m-0">
                      All newspapers ({{ total_newspapers }})</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-4 gy-5">
         <div class="card">
          <div class="card-body pl-1 pr-1 pt-0 pb-0 bg-light">
            <div class="row">
              <div class="col-12 p-0 m-0">
                <div class="fw-bold text-center fs-5">
                  <a href="{% url 'agency:topic-list' %}"
                     class="btn btn-outline-dark w-100 btn-lg m-0">
                    All Topics ({{ num_topics }})
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 gy-5">
          <div class="card text-center border border-dark border-2">
            <div class="card-head border-bottom border-dark">
              <h3 class="mt-2">Recent publications</h3>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                {% for pub in recent_publications %}
                <li class="list-group-item">
                  <a href="{% url 'agency:newspaper-detail' pub.id %}"
                     class="list-group-item btn btn-outline-danger">
                    <span class="fw-bolder">{{ pub.title }}</span>, {{ pub.published_date }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
{% endblock %}